.transaction-container {
  .box-content {
    padding: 10px 20px;
    background-color: rgb(242, 242, 242);
    thead th {
      padding: 25px 20px;
      border: none;
    }
    tbody td {
      padding: 25px 20px;
      background-color: white;
      font-size: smaller;
    }
    tbody {
      position: relative;
    }
  }
}

.active {
  display: none;
}
