<div class="transaction-container">
    <h2>
        Transactions
    </h2>
    <p>Your account payment details.</p>
    <div class="box-content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Marketplace</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Epic</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>