:root {
  /** CSS PRIMARY COLORS */
  --color-primary-background: #121212;
  --color-primary-text-active: rgb(245, 245, 245);
  --color-primary-text-disabled: rgb(245, 245, 245, 0.6);
  --color-primary: rgb(0, 116, 228);
  --color-secondary: #202020;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-family: Inter, sans-serif;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}
section {
  padding: 20px 10%;
}
