header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px 24px;
  a {
    color: var(--color-primary-text-active);
    text-decoration: none;
  }
  .header-left {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      .button {
        margin-right: 10px;
      }

      .global--header__nab {
        // Define styles for the nav
        img.logo__img {
          height: 32px;
          width: 54px;
        }
      }
    }

    .main-nav {
      ul.main-nav__list {
        list-style: none;
        display: flex;

        li.main-nav__list-item {
          margin-right: 20px;
        }
      }
    }
  }

  .header-right {
    .global-toolbar {
      display: flex;
      align-items: center;

      .local-menu {
        margin-right: 15px;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    .header-left {
      flex-direction: column;
      align-items: flex-start;

      .global-header__drawer {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;

        .main-nav {
          ul.main-nav__list {
            flex-direction: column;

            li.main-nav__list-item {
              margin-right: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .header-right {
      margin: 10px 0;
    }
  }
  ul {
    margin-bottom: 0px;
  }
  button {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
  .dropdown-menu {
    background-color: #333;
    color: var(--color-primary-text-active);
    a:hover {
      background-color: rgb(127, 131, 134);
    }
  }
}
