<div class="acc-setting">
    <h2>Account Settings</h2>
    <p>Manage your account’s details.</p>
    <div class="box-content">
        <h6>Account Information</h6>
        <div class="acc-id">
            <span>ID: </span>
        </div>
    </div>
    <div class="box-content">
        <h6>Personal Details</h6>
        <p>Manage your name and contact info. These personal details are private and will not be displayed to other
            users. View our
            <a>Privacy Policy</a>
        </p>
        <div class="acc-inf-user row">
            <div class="col-6">
                <label for="">First Name</label>
                <input type="text">
            </div>
            <div class="col-6">
                <label for="">Last Name</label>
                <input type="text">
            </div>
        </div>
    </div>
    <div class="box-content">
        <form>
            <h6>Address</h6>
            <div class="row">
                <div class="col-6">
                    <label for="">Address 1</label>
                    <input type="text">
                </div>
                <div class="col-6">
                    <label for="">Address 2</label>
                    <input type="text">
                </div>
                <div class="col-6">
                    <label for="">City</label>
                    <input type="text">
                </div>
                <div class="col-3">
                    <label for="">Region</label>
                    <input type="text">
                </div>
                <div class="col-3">
                    <label for="">Postal Code</label>
                    <input type="text">
                </div>
                <div class="col-6">
                    <label for="">Country/ Region</label>
                    <input type="text">
                </div>

            </div>
            <button type="submit" class="btn btn-primary">
                Save Change
            </button>
        </form>
    </div>
    <div class="box-content">
        <h6>Delete Account</h6>
        <p>Click REQUEST ACCOUNT DELETE to start the process of permanently deleting your Epic Games account including
            all personal
            information, purchases, game progress, in-game content, Unreal projects and Epic Games Wallet account. Once
            your Epic
            Games account is deleted, your wallet balance will be permanently deleted as well.</p>
        <p>If you request to delete your account, your account will be deleted in 14 days. During this time, you can
            login to
            reactivate your account, which will cancel your deletion. After 14 days deletion will be irreversible.</p>
        <button class="btn btn-danger"> REQUEST ACCOUNT DELETE</button>
    </div>
</div>