<div class="pass-secu-container">
    <h2>Change Your Password</h2>
    <p>For your security, we highly recommend that you choose a unique password that you don't use for any other online
        account.</p>
    <div class="box-content">
        <h6>Password</h6>
        <form>
            <label for="">New Password</label>
            <input type="text" placeholder="Enter Password">
            <ul class="info-req">
                <li>
                    Avoid using any of your last 5 passwords
                </li>
                <li>
                    Use 7+ characters
                </li>
                <li>
                    Use at least 1 letter
                </li>
                <li>
                    Use at least 1 number
                </li>
                <li>
                    No spaces
                </li>
            </ul>
            <label for="">Retype New Password</label>
            <input type="text">
            <button type="submit" class="btn btn-primary d-block">SAVE CHANGES</button>
        </form>
    </div>
</div>