<div class="feature-search">
    <div class="header">
        <h5 class="topic">
            Free Game
        </h5>
        <button>VIEW MORE</button>
    </div>
    <div class="content">
        <ng-container *ngFor="let product of productsFree">
            <div class="product" [routerLink]="['/product-detail']" [queryParams]="{id : product.id}">
                <div class="image-banner">
                    <img [src]="product.productImages.imageBanners[0].path" [alt]="product.name">
                </div>
                <div class="name">
                    <p>{{product.name}}</p>
                </div>
            </div>

        </ng-container>
    </div>
</div>