<section>
    <div class="section">
        <div class="search">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" placeholder="Search store">
        </div>
        <div class="menu-bar">
            <ul class="menu-bar-atb">
                <li class="menu-item"><a [routerLink]="['/menu/discover']">Discover</a></li>
                <li class="menu-item"><a [routerLink]="['/menu/browser']">Browser</a></li>
                <li class="menu-item"><a [routerLink]="['/menu/news']">News</a></li>
            </ul>
            <ul class="menu-cart">
                <li class="wishlist"><a [routerLink]="['/menu/wishlist']">Wishlist</a></li>
                <li class="cart"><a [routerLink]="['/menu/cart']">Cart</a></li>
            </ul>
        </div>
    </div>
</section>
<router-outlet></router-outlet>