.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary-background);
  color: white;

  .login-form {
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    .text-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      width: 50px;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-field {
        position: relative;
        margin-top: 16px;

        label {
          padding: 8px;
          top: 50%;
          left: 0px;
          position: absolute;
          transform: translateY(-50%);
          pointer-events: none;
          color: #999;
          transition: ease 0.25s;
        }
        input {
          padding: 16px 8px;
          border-radius: 5px;
          border: 1px solid #999;
          width: 100%;
          height: 50%;
          transition: ease 0.2s;
          background-color: var(--color-secondary);
          color: white;
          font-size: 1rem;
        }
        input:focus {
          border-color: white;
          outline: none;
        }
        input:focus ~ label,
        input:valid ~ label {
          border: white;
          font-size: 12px;
          top: 0;
          margin-left: 10px;
          color: white;
          background-color: var(--color-secondary);
        }
        .valid-border {
          border: 1px solid #db4437; /* Change this to the desired valid border color */
        }
      }
      .form-valid {
        height: 16px;
        font-size: 10px;
        color: #db4437;
      }
      button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:disabled {
        background-color: #71ac73;
        cursor: auto;
      }
    }

    .privacy-policy {
      margin-top: 10px;
      font-size: 12px;

      a {
        color: #3498db;
        text-decoration: none;
      }
    }
  }
}
