<div class="swiper-container">

    <div class="swiper-header">
        <div class="name">Features Discount</div>
        <div class="swiper-feature d-flex">
            <div class="left" (click)="previous()"><i class="fa-solid fa-chevron-left"></i></div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="right" (click)="next()"><i class="fa-solid fa-chevron-right"></i></div>
        </div>
    </div>
    <div #swiperContent class="swiper-content">
        <ng-container *ngFor="let product of productDiscount">
            <div class="swiper-block" *ngIf="!product.isHidden">
                <button type="button" class="btn-add-wishlist" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Add to wishlist">
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
                <div class="swiper-block-image">
                    <img [src]="product.product.productImages[0]!.imageAvatars.path"
                        [alt]="product.product.productImages[0]!.imageAvatars.name">
                    <div class="layout"></div>
                </div>
                <div class="swiper-block-content">
                    <div class="swiper-block-name">
                        <p>{{product.product.name}}</p>
                    </div>
                    <div class="swiper-block-price">
                        <div class="swiper-block-percent-discount">
                            {{product.discount.percentDiscount}}%
                        </div>&nbsp;&nbsp;
                        <div class="swiper-block-price-actual">
                            đ{{product.product.price}}
                        </div>&nbsp;&nbsp;
                        <div class="swiper-block-price-discount">
                            đ{{ product.product.price * product.discount.percentDiscount/100
                            | number:'1.3-3' }}

                        </div>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>

</div>